
/* ------------------------ IMPORT FONT FAMILY INSPIRE TWDC ------------------------------------------ */
@import url(https://db.onlinewebfonts.com/c/130a63bec7d0efc605bbe6253a27de98?family=InspireTWDC);
@font-face {
    font-family: "InspireTWDC";
    src: url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.eot");
    src: url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.svg#InspireTWDC")format("svg");
}
/* ------------------------------------------------------------------------------------------------------------- */

*{
font-family: "InspireTWDC", Helvetica, sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
}

.header 
{
    display: flex;
    /* justify-content: space-between; */
   
}
.logo{
    width: 100px;
    /* margin: 5%; */
}

ul, li{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    font-weight: bold;
    font-size: small;
}

a{
    text-decoration: none;
}
.navBar{
    display: flex;
    margin: 1%;
    /* padding: 5%; */
    /* width: 1254px;
    height: 67px; */
}

/* -----------------------------------  HEADER -------------------------------------------------------- */
.sectionHeader{
    background-image: url(IMG/lilo_stitch_hero_4009_r_e7d96ac6.jpg);
    background-position: center;
    background-size: cover;
    /* max-width: 100%; */
    width: 1264px;
    height: 564px;
    /* width: 1104px; */
    padding: 0;
    margin: 0;
}

.heroIMG{
    display: flex;
    justify-content: center;
    /* z-index: 1; */
    width: 1264px;
    transition: transform .5s ease;
}
.heroIMG:hover{
transform: scale(1.05);
}

.divLogoRouge{
margin: 9em;
margin-top: 0;
margin-bottom: 0;
}

.logoRouge{
width: 30%;
width: 380px;
text-align: center;
/* margin: 2%; */
}

.subtitle{
display: flex;
flex-direction: row;
justify-content: center;
margin: auto;
}

.divBTN{
    display: flex;
    justify-content: center;
    background-color:#E4F0F4 ;
}
.textLogoRouge{
    /* display: flex; */
    /* justify-content: center; */
    font-size: large;
    font-weight: 350;
    margin-left : 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
}

.btn1{
    display: flex;
    padding: 1%;
    color: white;
    font-weight: bold;
    font-size: small;
    font-weight: 600;
    background-color: #53618A;
     border-radius: 24px;
    border-color:#53618A;
    margin: 2em;
    margin-bottom: 0,5;
    margin-top: 0;
    min-width: 200px;
    height: 48px;
}

.btn2{
    display: flex;
    justify-content: center;
    padding: 1%;
    color: #0d0d0e;
    font-weight: bold;
    font-size: small;
    font-weight: 600;
    background-color: #f1f2f300;
    border-radius: 24px;
    margin-top: 0;
    margin-left: 2em;
    margin-bottom: 2em;
    min-width: 200px;
    height: 48px;
}

/* --------------------------------  Section 2 --------------------------------------------------- */

/*  <!-- renommer divCards2 --> */
.divCards2 {
background-color: #F1F2F3;
display: flex;
overflow: hidden;
/* margin-right: auto; */
justify-content: center;
/* max-width: 100%; */
/* width: 1264px; */
width: 1104px;
padding-top: 2%;
padding-left: 80px;
padding-right: 80px;
padding-bottom: 40px;
padding-bottom: 20px;
/* width: 1239px; */
height: 564px;
}

.card2{
    /* display: flex; */
    margin: 1%;
    margin-top: 0%;
    width: 261px;
    height: 532px;
    max-height: 100%;
}

.imgCard2 {
width: 261px;
height: 300px;
}

.subtitle2 {
    background-color: #fffff7;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    margin-top: 0;
    width: 251px;
    height: 200px;
    padding: 2%;
    font-size: 14px;
    /* padding-left: 80px;
    padding-right: 80px; */
    
}

.titleCard2{
    font-size:140% !important;
    font-weight: 500;
    /* padding: 3%; */
}

.subtitleCard2{
    display: flex;
    color: black;
    margin: 1em;
    /* flex-direction: row; */
    /* justify-content: start; */
    margin-top: 1em;
    margin: 3%;
    font-size: smaller;

}
/* -----------------------------  SECTION 3  ------------------------------------------------ */

.divSection3{
    background-color: #054553;
    width: 100%;
    width: 1264px;
    
}
.title {
color: #FFFFFF;
display: flex;
justify-content: center;
/* padding: 1%; */
font-size: 1.2em;
font-size: 30px;
font-weight: normal;
/* font-family: Arial, Helvetica, sans-serif; */
padding-top: 10px;
padding-left: 80px;
padding-right: 80px;
padding-bottom: 1%;
margin-bottom: 0.5%;
}

.divCards3{
display: flex;
justify-content: center;
overflow: hidden;
max-width: 100%;
width: 1104px;
height: 269px;
/* padding-left: 10px; */
/* padding-right: 10px; */
/* padding-top: 1%; */
margin-top: 0%;
padding-left: 80px;
padding-right: 80px;
padding-bottom: 20px;
/* width: 100%;  */
/* margin: auto; */
}

.card3{
    /* display: flex; */
    margin: 1%;
    margin-top: 0%;
    /* text-align: center; */
    background-color: #054553;
}

.imgCard3{
     width: 352px;
     height: 198px;
}

.subtitle3{
    color: white;
    /* margin: 1em; */
    /* flex-direction: row; */
    margin-top: 1em;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 1%;
}
.pSection3{
margin-bottom: 0%;
}
#pControleParental{
    color: #B0B7BB ;
    font-size: 0.86em;
    margin-top: 0%;
}
.divBtn{
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    color: white;
    width: 960px;
    height: 48px;
    margin: auto;
    /* margin: 1em; */
}

.btn3{
    display: flex;
    justify-content: center;
    padding: 1%;
    font-weight: bold;
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    padding: 2%;
    /* margin-left: 2em; */
    /* margin-bottom: 1em; */
    margin-top: 3%;
    /* margin-bottom: 3%; */
    width: 240px;
    height: 48px;}

.subtitleAbonn{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-top: 0%;
    padding-bottom: 5%;
    color: white;
    font-size: 0.75em;  
}

/* --------------------------   section 4 --------------------------------------------- */
.divSection4{
    width: 1264px;
    /* height: 576px; */
    
}

.titleSection{
    margin: 0%;
    padding: 2%;
    display: flex;
    justify-content: center;
    background-color:#F1F2F3;
    font-size: 30px;
}

.divCards4 {
background-color: #F1F2F3;
display: flex;
justify-content: center;
height: 576px;
font-size: small;
width: 100%;
/* width: 1104px; */
}

.titleCard4{
    font-size:140% !important;
    font-weight: 500;
    /* padding: 3%; */
}
.card4{
    margin: 0%;
    padding: 1%;
    width: 542px;
}

.imgCard4{
width: 542px;
height: 300px;
}

.subtitle4 {
    background-color: #fffff7;
    /* display: flex; */
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    padding: 1%;
    margin-top: 0;
    height: 200px;
}

/* ----------------------------- SECTION 5 -------------------------------------------------------- */

.titleCard5{
    font-size:140%;
    font-weight: 500;
    /* padding: 3%; */
}

.imgCard5{
width: 261px;
}

.imgCard4RoiLion{
width: 542px;
height: 300.15px;
}

.divCards5 {
background-color: #F1F2F3;
/* position: relative; */
display: flex;
justify-content: center;
width: 1264px;
/* width: 1164px; */
/* overflow: hidden; */
/* max-width: 100%; */
}

.cardRoiLion{
    /* width: 50%; */
    width: 542px;
    /* height: 532px; */
    margin: 0.6em;
}

.cardAutre{
    width: 25%;
    width: 261px;
    /* height: 532px; */
    margin: 0.6em;
}

.subtitle5 {
    background-color: #fffff7;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    margin-top: 0em;
    padding: 0.5em;
    /* width: 520px; */
    height: 200px;
    font-size: small;
}

.subtitleCard5{
    font-size: small;
}

/* ------------------------------- SECTION 6 ------------------------------------------------------------- */
.divSection6{
    margin: 0%;
    padding: 0%;
    width: 1264px;
    /* height: 428px; */

}
#titleCard6{
    color: #222;
    font-size: 30px;
    display: flex;
    justify-content: center ;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 0%;
    margin: 3%;
    padding-bottom: 0px;
    /* width: 864px; */
    /* height: 36px; */
    /* font-size:140%; */
    font-weight: 500;
    /* margin-top: 1%; */
    padding: 0%;
}

.divCards6 {
background-color: #F1F2F3;
padding-right: 80px;
padding-left: 80px;
padding-top: 20px;
padding-bottom: 2%;
width: 1104px;
height: 100%;
/* height: 368px; */
/* margin: 0.4%; */
/* overflow: hidden; */
/* max-width: 100%; */
}

.card6{
    /* display: flex; */
    background-image: url(IMG/NEWshop_disney_generic_banner_fy24_short_hero_v1_ab81a272.jpg);
    width: 1104px;
    background-repeat: no-repeat;
    /* height: 368px; */
    /* padding-bottom: 40px; */
    /* margin: 1em; */
}

.logoSection6{
    /* display: flex; */
    width: 322px;
    height: 78px;
    padding: 9%;
    /* padding-bottom: 1px; */
}

.pSection6{
display: flex;
color:#FFFFFF;
/* flex-direction: start; */
padding-top: 0%;
/* margin: 1%; */
/* margin: 4%; */
}

.imgCard6{
width: 1104px;
height: 368px;
z-index: -3;
padding-left: 80%;
padding-right: 80%;
margin-top: 0%;
}



