
/* ------------------------ IMPORT FONT FAMILY INSPIRE TWDC ------------------------------------------ */
@import url(https://db.onlinewebfonts.com/c/130a63bec7d0efc605bbe6253a27de98?family=InspireTWDC);
@font-face {
    font-family: "InspireTWDC";
    src: url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.eot");
    src: url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/130a63bec7d0efc605bbe6253a27de98.svg#InspireTWDC")format("svg");
}
/* ------------------------------------------------------------------------------------------------------------- */

*{
font-family: "InspireTWDC", Helvetica, sans-serif;
}
body{
    margin: 0%;
    padding: 0%;
}

.header 
{
    display: flex;   
}
.logo{
    width: 100px;
}

ul, li{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
    font-weight: bold;
    font-size: small;
}

a{
    text-decoration: none;
}
.navBar{
    display: flex;
    margin: 1%;
}

/* -----------------------------------  HEADER -------------------------------------------------------- */
.sectionHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    background-position: center;
    overflow: hidden;
    /* background-image: url(IMG/lilo_stitch_hero_4009_r_e7d96ac6.jpg); */
    /* background-size: cover; */
    /* max-width: 100%; */
    /* width: 80%; */
}

.heroIMG{
    transition: transform .5s ease;
    max-width: 100%;
    height: auto;
}
.heroIMG:hover{
transform: scale(1.05);
}

.divLogoRouge{
position: absolute;
flex-wrap: wrap;
margin: 9em;
margin-top: 0;
margin-bottom: 0;
/* width: 100%; */
}

.logoRouge{
position: absolute;
flex-wrap: wrap;
top: -250px;
/* top: -286px; */
left: -530px;
left: -566px;
/* left: 330px; */
text-align: center;
padding: 2em;
/* ajout media */
max-width: 350px;
}

.actuellement{
position: absolute;
top: 75px;
left: -438px;
}

.subtitle{
display: flex;
flex-direction: row;
justify-content: center;
margin: auto;
}

.divBtnStitch{
    position: absolute;
    flex-wrap: wrap;
    top: 400px;
    left: 130px;
    /* top: 440px; */
    /* left: 235px; */
    /* top: 487px; */
    /* left:  225px; */
    /* top: 380px; */

    /* top: 360px;
    left: 227px; */
    justify-content: center;
    /* background-color:#E4F0F4 ; */
}
.textLogoRouge{
    /* display: flex; */
    /* justify-content: center; */
    font-size: large;
    font-weight: 350;
    margin-left : 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    height: auto;
}

.btn{
    font-size: 16px;
    width: 16em;
    padding: 4%;
}

.btn1{
    display: flex;
    justify-content: center;
    /* padding: 1%; */
    color: white;
    font-weight: bold;
    /* font-size: small; */
    font-weight: 600;
    background-color: #53618A;
     border-radius: 24px;
    border-color:#53618A;
    margin: 1em;
    /* margin-bottom: 0,5; */
    /* min-width: 200px; */
    height: 48px;
    /* ajout media */
        /* display: inline-block; */

}

.btn2{
    /* padding: 1% 1% 1% 1%; */
    color: #0d0d0e;
    font-weight: 600;
    background-color: #f1f2f300;
    border-radius: 24px;
    margin: 1em;
    /* /* margin-left: 2em; */
    margin-bottom: 2em; */
    /* min-width: 200px; */
      /* ajout media */
        /* display: inline-block; */
   
}

/* --------------------------------  Section 2 --------------------------------------------------- */

/*  <!-- renommer divCards2 --> */
.divCards2 {
background-color: #F1F2F3;
display: flex;
flex-wrap: wrap;
overflow: hidden;
justify-content: center;
width: 80%;
padding-top: 2%;
margin: 0 auto

}

.card2{
    /* display: flex; */
    margin: 1%;
    margin-top: 0%;
    width: 261px;
    height: 532px;
    max-height: 100%;
}

.imgCard2 {
width: 261px;
height: 300px;
}

.subtitle2 {
    background-color: #fffff7;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    margin-top: 0;
    width: 251px;
    height: 200px;
    padding: 2%;
    font-size: 14px;
    /* padding-left: 80px;
    padding-right: 80px; */
    
}

.titleCard2{
    font-size:140% !important;
    font-weight: 500;
    /* padding: 3%; */
}

.subtitleCard2{
    display: flex;
    color: black;
    margin: 1em;
    /* flex-direction: row; */
    /* justify-content: start; */
    margin-top: 1em;
    margin: 3%;
    font-size: smaller;

}
/* -----------------------------  SECTION 3  ------------------------------------------------ */

.divSection3{
    background-color: #054553;
    width: 80%;
    margin: 0 auto;
    
}
.title {
color: #FFFFFF;
display: flex;
justify-content: center;
/* padding: 1%; */
font-size: 1.2em;
font-size: 30px;
font-weight: normal;
/* font-family: Arial, Helvetica, sans-serif; */
padding-top: 10px;
padding-left: 80px;
padding-right: 80px;
padding-bottom: 1%;
margin-bottom: 0.5%;
}

.divCards3{
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-left: 80px;
padding-right: 80px;
padding-bottom: 20px;


}

.card3{
    /* display: flex; */
    margin: 1%;
    /* text-align: center; */
    background-color: #054553;
}

.imgCard3{
     width: 352px;
     height: 198px;
}

.subtitle3{
    color: white;
    margin-top: 1em;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 1%;
}
.pSection3{
margin-bottom: 0%;
}
#pControleParental{
    color: #B0B7BB ;
    font-size: 0.86em;
    margin-top: 0%;
}
.divBtn{
    display: flex;
    justify-content: center;
    flex-direction: row !important;
    color: white;
    width: 960px;
    height: 48px;
    margin: auto;
    /* margin: 1em; */
}

.btn3{
    display: flex;
    position:inherit;
    justify-content: center;
    padding: 1%;
    font-weight: bold;
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    padding: 2%;
    /* margin-left: 2em; */
    /* margin-bottom: 1em; */
    margin-top: 3%;
    /* margin-bottom: 3%; */
    width: 240px;
    height: 48px;}

.subtitleAbonn{
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding-top: 0%;
    padding-bottom: 5%;
    color: white;
    font-size: 0.75em;  
}

/* --------------------------   section 4 --------------------------------------------- */
.divSection4{
    width: 80%;
    margin: 0 auto;
    
}

.titleSection{
    margin: 0%;
    padding: 2%;
    display: flex;
    justify-content: center;
    background-color:#F1F2F3;
    font-size: 30px;
}

.divCards4 {
display: flex;
flex-wrap: wrap;
justify-content: center;
background-color: #F1F2F3;

font-size: small;
width: 100%;
}

.titleCard4{
    font-size:140% !important;
    font-weight: 500;
    /* padding: 3%; */
}
.card4{
    margin: 0%;
    padding: 1%;
    width: 542px;
}

.imgCard4{
width: 542px;
height: 300px;
}

.subtitle4 {
    background-color: #fffff7;
    text-decoration: none;
    padding: 1%;
    height: 200px;
}

/* ----------------------------- SECTION 5 -------------------------------------------------------- */
.titleSection5{
    display: flex;
    justify-content: center;
    background-color:#F1F2F3;
    font-size: 30px;
    width: 80%;
    margin: 0 auto;
}
.titleCard5{
    font-size:140%;
    font-weight: 500;
}

.imgCard5{
width: 261px;
}

.imgCard4RoiLion{
width: 542px;
height: 300.15px;
}

.divCards5 {
background-color: #F1F2F3;
display: flex;
justify-content: center;
flex-wrap: wrap;
width: 80%;
margin: 0 auto;
}

.cardRoiLion{
    width: 542px;
    /* height: 532px; */
    margin: 0.6em;
}

.cardAutre{
    width: 25%;
    width: 261px;
    /* height: 532px; */
    margin: 0.6em;
}

.subtitle5 {
    background-color: #fffff7;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    margin-top: 0em;
    padding: 0.5em;
    /* width: 520px; */
    /* height: 200px; */
    font-size: small;
}

.subtitleCard5{
    font-size: small;
}

/* ------------------------------- SECTION 6 ------------------------------------------------------------- */
.divSection6{
    margin: 0 auto;
    width: 80%;

}
#titleCard6{
    color: #222;
    font-size: 30px;
    display: flex;
    justify-content: center ;
    margin: 3%;
    padding-bottom: 0px;
    font-weight: 500;
}

.divCards6 {
background-color: #F1F2F3;
margin: 0 auto;
padding-right: 80px;
padding-left: 80px;
padding-top: 20px;
padding-bottom: 2%;
}

.card6{
    /* display: flex; */
    background-image: url(IMG/NEWshop_disney_generic_banner_fy24_short_hero_v1_ab81a272.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
   padding: 16%;

}

.logoSection6{
    display: block;
    width: 25%;
    padding-left: 9%;
    padding-bottom: 0;
    padding-top: 13%;
}

.pSection6{
    display: block;
width: 25%;
color:#FFFFFF;
padding-left: 9%;
 padding-bottom: 13%;
}

#decouvrir{
    width: 25%;
    padding-left: 9%;
    margin-top: -3%;
    font-size: 1rem;
    font-weight: bold;
}
.imgCard6{
width: 100%;
}

/* ------------------------------------  SECTION 7  -------------------------------------------- */

.divSection7{
    background-color: #F1F2F3;
    width: 80%;
    margin: 0 auto;    
}
.title {
color: #FFFFFF;
color: #222;
font-size: 30px;
font-weight: normal;
/* display: flex;
justify-content: center;
font-size: 1.2em; */
/* padding-top: 10px;
padding-left: 80px;
padding-right: 80px;
padding-bottom: 1%;
margin-bottom: 0.5%; */
}

.divCards7{
width: 80%;
margin: 0 auto;  
display: flex;
justify-content: center;
flex-wrap: wrap;
overflow: hidden;
margin: 0 auto;
}

.card7{
    width: 201px;
    margin: 1%;
}

.imgCard7{
     width: 201px;
}

.subtitle7{
    color: #222;
    margin-top: 1em;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 1%;
}

/* --------------------   SECTION 8   ------------------------------------ */

.divSection8{
    margin: 0 auto;
    width: 80%;

}
#titleCard8{
    color: #222;
    font-size: 30px;
    display: flex;
    justify-content: center ;
    margin: 3%;
    padding-bottom: 0px;
    font-weight: 500;
}

.divCards8 {
background-color: #F1F2F3;
margin: 0 auto;
padding-right: 80px;
padding-left: 80px;
padding-top: 20px;
padding-bottom: 2%;
}

.card8{
    /* display: flex; */
    background-image: url(IMG/crm-generic_short-hero_r_e8f9f2e1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
   padding: 16%;

}

.pSection8{
    display: block;
width: 25%;
color:#FFFFFF;
padding-left: 9%;
 padding-bottom: 13%;
}

#decouvrir{
    width: 25%;
    padding-left: 9%;
    margin-top: -3%;
    font-size: 1rem;
    font-weight: bold;
}
.imgCard6{
width: 100%;
}

#btnRejoignez{
    display: flex;
    justify-content: center;
    padding: 1%;
    color: white;
    font-weight: bold;
    font-size: small;
    font-weight: 600;
    background-color: #53618A;
     border-radius: 24px;
    border-color:#53618A;
    margin: 2em;
    margin-bottom: 0,5;
    margin-top: 0;
    /* min-width: 200px; */
    /* height: 48px; */
}


 /* ----------------------------------  MENU BURGER  ---------------------------------------------- */

 /* -------------------- NAVBAR BURGER ------------------------------------ */
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900');
/**This is just the Codepen area here, feel free to style it as you want in your own project**/
body {
  /* background: #E74C3C; */
  background: white;
  /* background: black !important; */
 
}

html {
  font-family: 'Roboto', sans-serif;
}

/**Mobile (Hamburger-)Menu from here on**/

/** This is kind of a styled trigger here **/
#menuToggle
{
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle input
{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span
{
    display: block;
    width: 26px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #ECF0F1;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 3px 0px;
    transition: transform 0.2s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
}

#menuToggle span:first-child
{
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
    transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #E74C3C;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
    opacity: 0;
    transform: rotate(0deg)     
      scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
    opacity: 1;
    transform: rotate(-45deg) translate(0, -1px);
}

/*This is the Menu part, which gets triggered by toggle*/
#menu
{
    position: absolute;
    width: 90vw;
    height: 110vh;
    margin: -100px 0 0 -50px;
    /* margin: -50px 0 0 -100px; */
    padding: 50px;
    padding-top: 125px;
    background: rgba(236, 240, 241, 0.97);
    /* background:  #000000;; */
    list-style-type: none;
    transform-origin: 0 0;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    text-align: center;

}

#menu li
{
    padding: 15px 0;
    color: #000000;
    list-style-type: none;
    font-size: 2em;
    font-weight: 300;
}

#menu li a {
      color: white;
      color: #000000;
      text-decoration: none;
      text-transformation: uppercase
}

#menu li a:hover {
    color: #2C3E50;
    text-decoration: none;
}

#menuToggle input:checked ~ ul
{
    transform: scale(1.0, 1.0);
    opacity: 1;
}

/*  ----------------------------------- FIN NAVBAR  ------------------------------- */
 /* ------------------------------------- MEDIA QUERIES  ----------------------------------------------- */

 .menuBurger{
    display: none;
}

@media screen and (max-width: 800px) {
    .menuBurger{
        display: block;
    }
    .nav{
        display: none;
    }

/* -----  HEADER --------------- */
.sectionHeader{
    /* background-image: url(IMG/lilo_stitch_hero_4009_r_e7d96ac6.jpg); */
    /* background-position: center; */
    /* background-size: cover; */
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

.heroIMG{
    max-width: 100%;
    /* width: 550px; */
    position: absolute;
    flex-wrap: wrap;
    top: 50px;
    display: flex;
    justify-content: center;
    transition: transform .5s ease;
}
.heroIMG:hover{
transform: scale(1.05);
}

.divLogoRouge{
display: flex;
flex-wrap: wrap;
justify-content: center;
position: absolute;
margin: 0 auto;
/* essai */
/* top: 263px; */
top: 305px;
left: -45;
/* width: 80%; */
/* ancien */
/* top: 271px;
left: 79px;
width: 80%; */
background-color: #E4F0F4;
}

.logoRouge{
width: 30%;
text-align: center;
position: absolute;
top: 305px;
left: -45px;
}

.subtitle{
display: flex;
flex-direction: row;
justify-content: center;
margin: auto;
}

.divBTN{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#E4F0F4 ;
}
.textLogoRouge{
    /* display: flex; */
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    font-size: large;
    font-weight: 350;
    margin: 0 auto;
}

.btn1{
    display: flex;
    justify-content: center;
    padding: 1%;
    color: white;
    font-weight: bold;
    font-size: small;
    font-weight: 600;
    background-color: #53618A;
     border-radius: 24px;
    border-color:#53618A;
    margin: 2em;
    margin-bottom: 0,5;
    margin-top: 0;
    /* min-width: 200px; */
    /* height: 48px; */
}

.btn2{
    display: flex;
    justify-content: center;
    padding: 1%;
    color: #0d0d0e;
    font-weight: bold;
    font-size: small;
    font-weight: 600;
    background-color: #f1f2f300;
    border-radius: 24px;
    margin-top: 0;
    margin-left: 2em;
    margin-bottom: 2em;
    /* min-width: 200px;
    height: 48px; */
}

/* --------  Section 2 ------------------ */

.divCards2 {
/* padding-top: 50%; */
padding-top: 30%;
}
.card2{
    /* margin: 1%; */
    flex-wrap: wrap;
    margin-top: 0%;
    max-width: 100%;
    /* max-width: 437px; */
    /* height: 532px; */
    /* max-height: 100%; */
}

.imgCard2 {
    max-width: 100%;
    max-height: 100%;
    /* max-width: 437px; */
/* max-width: 261px; */
/* height: 300px; */
}

.subtitle2 {
    background-color: #fffff7;
    /* flex-direction: row; */
    /* justify-content: center; */
    text-decoration: none;
    margin-top: 0;
    max-width: 100%;
    /* max-width: 437px; */
    /* width: 251px; */
    /* height: 200px; */
    padding: 2%;
    /* font-size: 14px;   */
}

.titleCard2{
    font-size:140% !important;
    font-weight: 500;
}

.subtitleCard2{
    /* display: flex; */
    color: black;
    margin: 1em;
    margin-top: 1em;
    margin: 3%;
    font-size: smaller;
}
/* ------------  SECTION 3 ---------------- */

.divSection3{
    background-color: #054553;
    max-width: 100%;
    /* width: 1264px; */
    
}
.title {
color: #FFFFFF;
/* display: flex; */
/* justify-content: center; */
font-size: 1.2em;
/* font-size: 30px; */
font-weight: normal;
/* padding-top: 10px; */
/* padding-left: 80px; */
/* padding-right: 80px; */
/* padding-bottom: 1%; */
margin-bottom: 0.5%;
}

.divCards3{
/* display: flex; */
/* justify-content: center; */
/* overflow: hidden; */
max-width: 100%;
/* width: 1104px; */
/* height: 269px; */
margin-top: 0%;
/* padding-left: 80px; */
/* padding-right: 80px; */
/* padding-bottom: 20px; */
}

.card3{
    margin: 1%;
    margin-top: 0%;
    background-color: #054553;
}

.imgCard3{
     width: 100%;
     /* height: 198px; */
}

.subtitle3{
    color: white;
    margin-top: 1em;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 1%;
}
.pSection3{
margin-bottom: 0%;
}
#pControleParental{
    color: #B0B7BB ;
    font-size: 0.86em;
    margin-top: 0%;
}
.divBtn{
    /* display: flex; */
    /* justify-content: center; */
    /* flex-direction: row !important; */
    color: white;
    /* width: 960px; */
    /* height: 48px; */
    margin: auto;
}

.btn3{
    /* display: flex; */
    /* justify-content: center; */
    padding: 1%;
    font-weight: bold;
    font-size: 16px;
    font-weight: 600;
    border-radius: 24px;
    padding: 2%;
    margin-top: 3%;
    /* width: 240px; */
    height: 48px;}

.subtitleAbonn{
    display: flex;
    /* justify-content: center; */
    margin-top: 3%;
    padding-top: 0%;
    padding-bottom: 5%;
    color: white;
    font-size: 0.75em;  
}

}
